<p id="notice"><%= notice %></p>

<h1>The Fancys Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default posts">
        <div class="panel-heading">
          <div class="post-title">
            <h3><%= link_to post.title, post %></h3>
          </div>
          <div class="author">
            <p>Author: <strong><%= post.author %></strong></p>
          </div>
        </div>
        <div class="panel-body">
          <p><%= truncate(post.entry, :length => 800) %></p>
          <p><%= link_to "Continue reading", post %></p>
        </div>
        <div class="panel-footer post-buttons">
          <p><%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %></p>
          <p><%= link_to 'Destroy', post, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
