<p id="notice"><%= notice %></p>

<h1>The Fancys Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="post-title">
            <td><%= link_to post.title, post %></td>
          </div>
          <div class="author">
            <td>Author: <strong><%= post.author %></strong></td>
          </div>
        </div>
        <div class="panel-body">
          <td><%= post.entry %></td>
        </div>
        <div class="panel-footer">
          <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
