<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default posts">
      <div class="panel-heading">
        <div class="post-title">
          <h3><%= @post.title %></h3>
        </div>
        <div class="author">
          <p>Author: <strong><%= @post.author %></strong></p>
        </div>
      </div>
      <div class="panel-body">
        <p><%= @post.entry %></p>
      </div>
      <div class="panel-footer post-buttons">
        <p><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %></p>
        <p><%= link_to 'Destroy', @post, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  </div>
</div>

<%= render "comments/form" %>

<div class="panel panel-primary">
  <div class="panel-header">
    <h3>Comments</h3>
  </div>
  <% @post.comments.each do |comment| %>
    <div class="panel-body">
      <p><strong><%= comment.author %></strong> says:</p>
      <p><%= comment.entry %></p>
    </div>
  <% end %>
</div>


<%= link_to 'Back', posts_path, class: "btn btn-default" %>
